/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

  .mat-column-Div{
    border-right: 1px solid indigo;
    width: 32px;
    padding-right: 24px;
    text-align: center;
  }
  